			</div> {* contentwrapper END *}
		</div> {* sitebody END *}

		<div id="msgchk" style="display:none;"></div>



		<div id="footer-wrapper">
			<div class="footer">
				<div class="footer-in">
					<a href="http://paulbehrens.de/promt/">ProMT v0.1.4 Open Source (GPL)</a>
					<a href="http://paulbehrens.de/promt/impressum.php" style="float: right;"> Impressum</a>
				</div>
			</div>
		</div>

	</body>
</html>
